@font-face {
    font-family: 'Seat Bcn regular';
    src: url(static/fonts/SeatBcn-Regular.woff);
}
@font-face {
    font-family: 'Seat Bcn bold';
    src: url(static/fonts/SeatBcn-Bold.woff);
}

@media screen and (max-width: 1920px){
    #kuff {
        position: static;
    }
}


body {
    background: linear-gradient(to right, rgb(240, 164, 164), rgba(28, 165, 229, 0.49), rgb(75, 242, 181));
    animation: changeBg 15s linear infinite;
}
.container {
    background-color: rgba(44, 41, 41, 0.051);
    border-radius: 5px;
    padding: 20px;
    height: 350px;
    position: relative;
    overflow: hidden;
    font-family: 'Seat Bcn regular';   
    font: weight 900px;
    display: flexbox;
    align-items: center;
    padding:5%;
    
}

.section{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 1%;
    row-gap: 1%;
    padding-top: 0%;
    padding-bottom: 5%;
    
}

.topBar{
    display: flex;
    align-items: center;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    font-family: 'Seat Bcn bold';
    /* margin-left:40%;
    margin-right:35%;
    height: 100%; */
    
}


#kuff {
    opacity: .75;
    position: relative;
    /* top: 3%;
    right: 36%; */
    width: 40px;
    animation: rotation 1s infinite linear;
}


#laptop-image {
    
    width: 25%;
    position: relative;
    /* right: 5%;
    bottom: 20%;
    top: 20%; */
    float: right;
    
}

button {
     
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    border: none;
    border-radius: 5px; 
    width: 100px;
    height: 35px;
    font-family: 'Seat Bcn regular';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: flexbox;
    align-items: center;
    text-align: center;
    color: #0F0F0F;
    flex: none;
    order:1;
    flex-grow:0;
    background-color: #ffffff93;
    z-index: 1;
}

 #quantity {
    position: absolute;
    /* float:inline-start; */
    bottom: 6.5%;
    right: 17%;
    text-align: left;
    font-family: 'Seat Bcn bold';
}

#price {
    position: absolute;
    bottom: 5%;
    left: 3%;
}

#pTotalDue{
    position:absolute;
    left:3%;
    bottom:0%;
}
#totalDue {
    position: absolute;
    left: 13.5%;
    bottom: 3.1%;
   
}

#accountBalance, #loan-balance, #workBalance,
#balance, #loan, #workPay {
    font-size: 40px;
}

h1 {
    font-size: 50px;
    animation: textclip 5s linear infinite;
}

h2{
    font-size: 50px;
}

#title {
    
}

#add {
    position: absolute;
    
    
}

#pay {
    position: absolute;
    float: inline-end;
}

span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    white-space: pre-wrap;
}

#title {
    text-align: left;
}

#computerDescription {
    /* float: right;
    text-align: right; */
    position: absolute;
    bottom: 15%;
    right: 5%;
}

.computer-price {
    float: right;
}
#specs{
    font-size: 14px;
    font-weight: 900;
}

.workButton {
    position: absolute;
    
    
}

.toBankButton {
    position: absolute;
    bottom:5%;
    left:5%;
}

#work-container, #bank-container {
    text-align: center;
}


.bankButton {
    position: absolute;
    bottom: 5%;
    
    right: 5%;

}



@keyframes changeBg {
    0% {
        background-color: red;
    }
    20%{
        background-color: aquamarine;
    }
    40%{
        background-color: azure;
    }
    60%{
        background-color: currentColor;
    }
    80%{
        background-color: greenyellow;
    }
    100%{
        background-color: seagreen;
    }
}

@keyframes textclip{
    0% {
        color: red;
        font-size: 51px;
        font-stretch: extra-expanded;
    }
    10%{
        color: aquamarine;
        font-size: 52px;
    }
    20%{
     color: azure;
     font-size: 53px;
    }
    30%{
        color: currentColor;
        font-size: 54px;
    }
    40%{
        color: greenyellow;
        font-size: 55px;
    }
    50%{
        color: seagreen;
        font-size: 56px;
    }
    60%{
        color: rgb(243, 146, 177);
        font-size: 55px;
    }
    70%{
        color: cyan;
        font-size: 54px;
    }
    80%{
        color: lightslategray;
        font-size: 53px;
    }
    80%{
        color: lightsalmon;
        font-size:52px
    }
    100%{
        color:rgba(162, 160, 40, 0.49);
        font-size:51px;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

